@import url("https://fonts.googleapis.com/css?family=Montserrat"); 
@font-face {
    src: url(../../fonts/Bebas_Neue.ttf);
    font-family: Bebas Neue;
}

:root {
    --main-bg-color: #0B0C10;
    --secondary-bg-color: #1F2833;
    --main-cont-color: #66FCF1;
    --secondary-cont-color: #45A29E;
    --main-font-color: #C5C6C7;
}

h1 {
    font-size: 90px;
    font-family: "Bebas Neue", sans-serif;
    color: var(--main-cont-color);
    font-weight: 100;
    margin: 0;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 120px;
    color: white;
    font-weight: 100;
    margin: 0;
}

p {

}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background: var(--main-bg-color);
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #C5C6C7;
}

header div {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    color: white;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    z-index: 999;
    top: 0;
}

nav a {
    margin: 0px 40px 0px 40px;
    padding: 28px 0px 20px 0px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: all ease-in-out 500ms;
}

nav a:hover {
    border-bottom-color: #66FCF1;
}

.intro {
    background-image: url("../../media/intro_pic.jpg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro .inner {
    background-color: rgba(0, 0, 0, 0.8);
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro h2:after {
    content: " ";
    height: 2px;
    background-color: #66FCF1;
    width: 100%;
    display: block;
}

.intro .inner button {
    margin-top: 30px;
    background-color: #00000010;
    border: 4px solid var(--main-cont-color);
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: bold;
    outline: none;

    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

.intro .inner button:hover {
    border-color: aliceblue;
    color: rgb(38, 226, 214);
}

main {
    height: 1000px;
    width: 100%;
}



.about_us {
    height: 1000px;
    width: 100%;
    background-color: var(--main-bg-color);
}

.about_us .inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us .inner .video_container{
    content: ' ';
    display: block;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
    width: auto;
    height: auto;
}

.about_us .inner .content_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: rgba(0, 0, 0, 0.90);
    content: '';
    z-index: 2;
    width: 100%;
    height: inherit;

    transition: all ease-in-out 250ms;
}

.about_us .inner .content {
    color: rgb(224, 224, 224);
}

.about_us .inner .content h1 {
    text-align: left;
    font-size: 100px;
    margin: 0;
    font-family: "Bebas Neue";
}

.about_us .inner .content p {
    text-align: left;
    font-family: "Montserrat";
    font-size: 25px;
}

.about_us .inner .content a {
    font-size: 60px;
    font-family: "Bebas Neue";
    color: #66FCF1;
}

.about_us .inner .content a:hover {
    color: #45A29E;
    cursor: pointer;
} 



.price {
    height: auto;
    width: auto;
    background-image: url(../../media/blue-movie.jpg);
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.price .inner{
    width: 100%;
    display:flex;
    justify-content: center;
    align-content: center;
   

    
}

.price .inner .content{
    height: auto;
    width: 80%;
    

    
}

.price .inner .heading p{
    font-size:20px;
    font-family:"Bebas Neue";
    color: var(--main-font-color);
}

.price .inner table {
    border-collapse: collapse;
    width: 100%;
    height: 400px;
    box-shadow: 0 0 10px 2px #f5f5f5;
    
}

  .price .inner table th {
    background-color: var(--main-bg-color);
}
  
.price .inner table th, td  {

    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.price .inner tr{
    padding: 15px;
    color: var(--main-font-color);
    display: table-row;
}
  
.price tr :hover {
    
    background-color:#f5f5f5;} 

.price tr:hover {
    
    color: black;
    
} 
    


.now_showing{

    height: auto;
    width: auto;
    
}



.now_showing .inner {

    padding: 125px;
    height : auto;
    width: 80%;
    

}



.now_showing .inner .movie-container{

    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    grid-auto-rows:minmax(400px ,auto);
    margin: 10px;
   
   
    
}

@media only screen and (max-width: 800px) {
    .now_showing .inner .movie-container { grid-template-columns: 1fr }
  }



.now_showing .inner .movie-container .movie{


    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7 ,1fr);
    grid-gap: 15px;
    

}

.now_showing .inner .movie-container .movie{

    background-color: var(--main-bg-color);
    border: 1px solid var(--main-cont-color);
    padding: 0px;
    font-size: 15px;
    color: var(--main-font-color);
    text-align: center;
    

} 

.poster {
    

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;


}

.poster .img img {
 
    width: 100%;
    height: 100%;
    

}

.title {

    background-color: var(--main-bg-color);
    grid-column-start: 5;
    grid-column-end:8;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.title p{
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;

}



.time{

    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 8;
    
    background-color: var(--main-bg-color);
 
  
}

.time div{

    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    padding: 10px;
    text-align: center;
}



.synopsis{

    height: auto;
    width: auto;

}

.synopsis .inner{

    display: block;
    padding: 100px;
    height : auto;
    width: 80%;
   
}
.synopsis .inner .endgame
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.synopsis .inner .plot{
   
    grid-column-start: 1;
    grid-column-end: 2;
    

}

.synopsis .inner .trailor{
    
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
   

}
.synopsis .inner .booking p {

    font-size: 20px;
    color: var(--main-font-color);
    font-family: "Montserrat", sans-serif;

}

.synopsis .inner .plot h2 {

    font-size: 40px;
    
}

.synopsis .inner .plot p{

    font-size: 20px;
    color: var(--main-font-color);
    font-family: "Montserrat", sans-serif;
   
}

.synopsis .inner .booking .time {

    width: 100%;
    height: 70px;
    display: flex;
    color: var(--main-font-color);
  
}

.synopsis .inner .booking .time div{

    display: flex;
    width: 80%;
    margin: 3px;
    padding: 20px;
    justify-content: center;
    border: 1px solid var(--main-cont-color);
    align-items: center;

}

.synopsis .inner .booking .time div:hover 
{
    background-color: var(--main-cont-color);
} 

.synopsis .inner .booking .time div:hover 
{
    color: black;
} 
















